/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define SYM 1
#define NUM 2
#define NAV 3
#define FN 4

/ {

behaviors {
      hm: homerow_mods {
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_MODS";
        #binding-cells = <2>;
        tapping_term_ms = <225>;
        flavor = "tap-preferred";
        bindings = <&kp>, <&kp>;
    };

    combos {
        compatible = "zmk,combos";

        // DEFAULT LAYER COMBOS

        // f + g
        combo_tab {
            timeout-ms = <50>;
            key-positions = <14 15>;
            bindings = <&kp TAB>;
            layers = <0>;
        };
        // h + j, symmetrical 'reverse tab'
        combo_shift_tab {
            timeout-ms = <50>;
            key-positions = <14 15>;
            bindings = <&kp LS(TAB)>;
            layers = <0>;
        };
        // J + K -> fn layer, this is the num layer key press with key to left added to trigger FN layer
        combo_fn_layer { 
            timeout-ms = <50>;
            key-positions = <17 18>;
            bindings = <&mo FN>;
            layers = <0>;
        };

        // since this is a 36 key layout and doesn't have these keys on the default layer anymore, 
        // make them from a vertical combo
        combo_hyphen {
            timeout-ms = <50>;
            key-positions = <10 20>;
            bindings = <&kp MINUS>;
            layers = <0>;
        }; 
        combo_apostrophe {
            timeout-ms = <50>;
            key-positions = <20 30>;
            bindings = <&kp SINGLE_QUOTE>;
            layers = <0>;
        }; 

        // SYMBOLS LAYER COMBOS

        // apostrophe, but symbols layer version
        combo_backtick {
            timeout-ms = <50>;
            key-positions = <10 20>;
            bindings = <&kp GRAVE>;
            layers = <1>;
        };
        // make en-dash more accessible
        combo_en_dash {
            timeout-ms = <50>;
            key-positions = <20 30>;
            bindings = <&kp LA(MINUS)>;
            layers = <0>;
        }; 
        
        // UNIVERSAL COMBOS
        // (these are for the thumb keys and should remain available regardless of layer)

        combo_return {
            timeout-ms = <50>;
            key-positions = <32 35>;
            bindings = <&kp RETURN>;
        };
        combo_lshift {
            timeout-ms = <50>;
            key-positions = <32 33>;
            bindings = <&kp LSHIFT>;
        };
        combo_rshift {
            timeout-ms = <50>;
            key-positions = <34 35>;
            bindings = <&kp RSHIFT>;
        };
        combo_lalt {
            timeout-ms = <50>;
            key-positions = <31 32>;
            bindings = <&kp LALT>;
        };
        combo_ralt {
            timeout-ms = <50>;
            key-positions = <35 36>;
            bindings = <&kp RALT>;
        };
    };
};
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  Q  |  W  |  E  |  R  |  T   |  Y  |  U   |  I  |  O  |  P  |
// |  A  |  S  |  D  |  F  |  G   |  H  |  J   |  K  |  L  |  ;  |
// |  Z  |  X  |  C  |  V  |  B   |  N  |  M   |  ,  |  .  |  /  |
//             | CTL | SPC |  CMD | CMD | BSP  | CTL |
                        bindings = <
   &kp Q      &kp W &kp E      &kp R      &kp T     &kp Y     &kp U      &kp I      &kp O    &kp P
   &kp A      &kp S &hm NAV D  &hm SYM F  &kp G     &kp H     &hm SYM J  &hm NUM K  &kp L    &kp SEMI
   &kp Z      &kp X &kp C      &kp V      &kp B     &kp N     &kp M      &kp COMMA  &kp DOT  &kp FSLH
   &kp LCTRL  &kp SPACE        &kp LCMD   &kp RCMD  &kp BSPC  &kp RCTRL
                        >;
                };

                sym_layer {
// -----------------------------------------------------------------------------------------
// |  #  |  @  |  (  |  )  |  ~  |  ^  |  +  |  $  |  %  |  _  |
// |  <  |  >  |  {  |  }  |  _  |  *  |  &  |  |  |  !  |  =  |
// |     |     |  [  |  ]  |     |     |     |     |     |  \  |
//             |     |     |     |     |     |     |
                        bindings = <
   &kp HASH  &kp AT  &kp LPAR  &kp RPAR  &kp TILDE  &kp CARET        &kp KP_PLUS  &kp DOLLAR  &kp PRCNT  &kp UNDER
   &kp LT    &kp GT  &kp LBRC  &kp RBRC  &kp UNDER  &kp KP_ASTERISK  &kp AMPS     &kp PIPE    &kp EXCL   &kp EQUAL
   &trans    &trans  &kp LBKT  &kp RBKT  &trans     &trans           &trans       &trans      &trans     &kp BSLH
   &trans    &trans  &trans    &trans    &trans     &trans
                        >;
                };
                num_layer {
// -----------------------------------------------------------------------------------------
// |     |  7  |  8  |  9  |     |     |     |     |     |     |
// |  0  |  4  |  5  |  6  |     |     |     |     |     |     |
// |     |  1  |  2  |  3  |     |     |     |     |     |     |
//             |     |     |     |     |     |     |
                        bindings = <
   &trans  &kp N7  &kp N8  &kp N9  &trans  &trans  &trans  &trans  &trans  &trans
   &kp N0  &kp N4  &kp N5  &kp N6  &trans  &trans  &trans  &trans  &trans  &trans
   &trans  &kp N1  &kp N2  &kp N3  &trans  &trans  &trans  &trans  &trans  &trans
   &trans  &trans  &trans  &trans  &trans  &trans
                        >;
                };

                nav_layer {
// -----------------------------------------------------------------------------------------
// |     |     |     |      |     |      |      |  UP  | 1PASS |      |
// |     |     |     |      |     |      | LEFT | DOWN |RIGHT  |      |
// |     |     |     |      |     |      |      |      |       |      |
//             |     |      |     |      |      |      |
                        bindings = <
   &trans  &trans  &trans  &trans  &trans  &trans  &trans    &kp UP    &kp LG(BSLH)  &trans
   &trans  &trans  &trans  &trans  &trans  &trans  &kp LEFT  &kp DOWN  &kp RIGHT     &trans
   &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans        &trans
   &trans  &trans  &trans  &trans  &trans  &trans
                        >;
                };


        };
                fn_layer {
// -----------------------------------------------------------------------------------------
// |  F12 |  F7  |  F8  |  F9  |     |      |      |      |BTCLR| RST |
// |  F11 |  F4  |  F5  |  F6  |     |      |      |      | BT0 |CMENU|
// |  F10 |  F1  |  F2  |  F3  |     |      |      |      | BT1 |BOOT |
//               |      |      |     |      |      |      |
                        bindings = <
   &kp F12  &kp F7  &kp F8  &kp F9  &trans  &trans  &trans  &trans  &bt BT_CLR    &reset
   &kp F11  &kp F4  &kp F5  &kp F6  &trans  &trans  &trans  &trans  &bt BT_SEL 0  &kp K_CMENU
   &kp F10  &kp F1  &kp F2  &kp F3  &trans  &trans  &trans  &trans  &bt BT_SEL 1  &bootloader
   &trans   &trans  &trans  &trans  &trans  &trans
                        >;
                };
        };
};
